@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Rosarivo:ital@0;1&display=swap');

html{
    height:100%;
}
body { margin: 0;
       padding: 0;
       height: 100vh;
       position: relative;
       font-family: 'Rosarivo', serif;
       background-color: #d8c3a5;
       color: #333;
     }

h1{
    font-family: 'Glass Antiqua', cursive;
    color: #343a40;
}
.navbar h2{
    font-size:50px;
    color:#f4976c;
    font-family: 'Glass Antiqua', cursive;
}
.navbar a{
    margin:5px;
}
.navbar p{
    font-size: 15px;
    margin:0;
}

.navbar {
    margin-bottom: 20px;
    background-color: #5c2018;
    color:#d8c3a5;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.navbar-brand:hover, .nav-link:hover {
    color: #d3d3d3 !important;
}

.container {
    max-width: 1200px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.2s;
}

.card-title a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.card-subtitle {
    font-size: 0.9rem;
}

.card-text .badge {
    margin-right: 5px;
}

.tags a {
    text-decoration: none;
    color: #fff;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.tags a:hover {
    background-color: #5a6268;
}

.input-group {
    width: 100%;
    margin-bottom: 20px;
}

.input-group input {
    border-radius: 0;
}

.input-group .btn {
    border-radius: 0;
}

.footer {
    display:none;
    width: 100%;
    background-color: #282828;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: #d4a59a;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

